
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 150px;
   z-index: 999;
}

.logo strong {
  font-size: 18px;
}

.logo small {
  font-size: 12px;
  color: #666;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  align-items: center;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
}


.contact-btn {
  background: #00a79d;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background: #ccc;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.login {
  cursor: pointer;
  font-weight: 500;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
  z-index: 1001;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 999;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  position: relative;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
}

/* Underline animation */
.nav-links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #00a79d;
  transform: scaleX(0);
  transition: 0.3s ease;
  transform-origin: left;
}

/* Active underline */
.nav-links li.active::after {
  transform: scaleX(1);
}
