@media (max-width: 900px) {
  .menu-toggle {
    display: block;
  }

  .nav-right {
    display: none;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    gap: 20px;
    padding: 100px 40px;
    transition: right 0.4s ease;
  }

  .nav-links.show {
    right: 0;
  }

  .nav-links li {
    width: 100%;
  }

  .contact-btn {
    align-self: flex-end;
  }

  .hero-content h1 {
    font-size: 10vw;
  }

  .hero-content p {
    font-size: 15px;
  }

  .custom-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    padding: 30px;
  }

  .card h2 {
    font-size: 20px;
  }

  .card p {
    font-size: 15px;
  }

  .card-2 {
    grid-column: span 2;
  }

  .card-3 {
    grid-column: span 2;
    min-height: 250px;
  }

  .card-style {
    display: flex;
    justify-content: center;
  }

  .recent-header h1 {
    font-size: 5vw;
  }

  .works-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-title {
    font-size: 40px;
    margin-bottom: 60px;
  }

  .testimonial-container {
    padding: 50px;
    gap: 50px;
  }

  .profile-grid {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 12px;
  }

  .profile-avatar {
    width: 100px;
    height: 100px;
  }

  .testimonial-name {
    font-size: 24px;
  }

  .testimonial-text {
    font-size: 17px;
  }
}

@media (max-width: 768px) {
  .recent-header h1 {
    font-size: 7vw;
  }

  .section-title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .testimonial-container {
    grid-template-columns: 1fr;
    padding: 40px 30px;
    gap: 40px;
  }

  .profile-grid {
    justify-self: center;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(2, 90px);
    gap: 10px;
  }

  .profile-avatar {
    width: 90px;
    height: 90px;
  }

  .testimonial-header {
    gap: 15px;
  }

  .emoji-icons {
    margin-left: 0;
  }

  .testimonial-name {
    font-size: 22px;
  }

  .testimonial-text {
    font-size: 16px;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .custom-grid {
    padding-top: 15vw;
  }

  .logo strong {
    font-size: 16px;
  }

  .logo small {
    font-size: 10px;
  }

  .cta-btn {
    font-size: 11.6px;
    padding: 8px 16px;
    letter-spacing: 2px;
  }

  .hero-content h1 {
    font-size: 15vw;
  }

  .hero-content p {
    font-size: 15px;
  }

  .custom-grid {
    grid-template-columns: 1fr;
  }

  .card {
    padding: 25px;
  }

  .card h2 {
    font-size: 18px;
  }

  .card p {
    font-size: 14px;
  }

  .card-2 {
    grid-column: span 1;
  }

  .card-3 {
    grid-column: span 1;
    min-height: 200px;
  }

  .card-style {
    display: none;
    justify-content: center;
  }

  .recent-works {
    padding-top: 25vw;
  }

  .works-grid {
    grid-template-columns: 1fr;
  }

  .recent-header {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .recent-header h1 {
    font-size: 9vw;
  }

  .slider-controls button {
    display: none;
  }

  .work-card {
    height: 400px;
    max-width: 240px;
  }

  .brand-track img {
    height: 75px;
    opacity: 0.8;
    transition: 0.3s;
  }

  .section-title {
    font-size: 28px;
  }

  .trusted-section {
    padding-top: 15vw;
  }

  .testimonial-container {
    padding: 30px 20px;
  }

  .profile-grid {
    grid-template-columns: repeat(3, 75px);
    grid-template-rows: repeat(2, 75px);
    gap: 8px;
  }

  .profile-avatar {
    width: 75px;
    height: 75px;
  }

  .testimonial-name {
    font-size: 20px;
  }

  .testimonial-role {
    font-size: 14px;
  }

  .emoji-icons {
    font-size: 28px;
  }

  .testimonial-text {
    font-size: 15px;
    line-height: 1.3;
  }
}
